.link {
    color: #fff !important;
}
.link:hover{
    background-color: #224f5f;
}

.boton-descarga {
    background-color: #3a7a91;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .boton-descarga:hover {
    background-color: #51adcf; /* Color oscuro en hover */
  }
