<section class="resume-section" id="about">
    <div class="resume-section-content">
        <div class="row">
            <div class="col-md-12 col-md-6">
                <section class="light glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides" style="overflow: unset">
                            <li class="glide__slide">
                                <img height="500" src="../../../assets/profile.jpg" width="450" />
                            </li>
                            <li class="glide__slide">
                                <img height="500" src="assets/img/theme/john-hoang.jpg" width="450" />
                            </li>
                            <li class="glide__slide">
                                <img height="500" src="assets/img/theme/sacha-styles.jpg" width="450" />
                            </li>
                            <li class="glide__slide">
                                <img height="500" src="assets/img/theme/wade.jpg" width="450" />
                            </li>
                            <li class="glide__slide">
                                <img height="500" src="assets/img/theme/willy-dade.jpg" width="450" />
                            </li>
                        </ul>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" aria-label="Previous" data-glide-dir="<"
                                style="left: 40%; bottom: -120px;"><i class="ni ni-bold-left text-default"></i></button>
                            <button class="glide__arrow glide__arrow--right" aria-label="Next" data-glide-dir=">"
                                style="bottom: -120px;"><i class="ni ni-bold-right text-default"></i></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>