<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Missael
            <span class="text-primary">Padilla</span>
        </h1>
        <div class="subheading mb-5">
            <a href="tel:+526862487608">(686) 248-7608</a> ·
            <a href="mailto:lmpadillar@gmail.com">lmpadillar&#64;gmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
            overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
            value proposition.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/luis-missael-padilla-rios-8a2640155/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/missael07" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://facebook.com/missael.padilla.31" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
