<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Missael
            <span class="text-primary">Padilla</span>
        </h1>
        <div class="subheading mb-5">
            <a href="tel:+526862487608">(686) 248-7608</a> •
            <a href="mailto:lmpadillar@gmail.com">lmpadillar&#64;gmail.com</a>
        </div>
        <p class="lead mb-5">Luis Missael is a Software Developer having six years of experience in Enterprise Application
            Development on .Net technologies. His expertise lies in Development using Agile principles and practices.
            Missael has worked as a Developer involved in design and development of enterprise solutions using .Net
            MVC, C#, SQL server, jQuery, HTML 5, AJAX, CSS, LinQ, TFS, Git, React JS, Windev,
            PostgreSQL, Angular, Mongo DB, DevExpress, Snowflake, Azure DevOps. He has extensive
            knowledge developing Web Solutions on .NET MVC and SQL Server. He also has experience with
            Windev using SQL Server. He also has an extensive knowledge on creating new work items and tracking
            bugs using TFS. He has good expertise and strong understanding of .NET Framework, Object Oriented
            Programming. Missael’s technical skills encompass design to development and testing of enterprise
            solutions. He has excellent communication and interpersonal skills.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/luis-missael-padilla-rios-8a2640155/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/missael07" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://facebook.com/missael.padilla.31" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
