            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad Politécnica de Baja California</h3>
                            <div class="subheading mb-3">Bachelor of Information Technologies</div>
                            <div>Software Development Track</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2014 - July 2019</span></div>
                    </div>
                </div>
            </section>