<!-- Skills-->
<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <div class="text-center textheader">
      <h1 class="mb-3 text-primary">Technical Skills</h1>
    </div>
    <div class="subheading mb-3 title">Programming Languages</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">C#</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-node-js"></i>NodeJS</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Windev</span></li>
    </ul>

    <div class="subheading mb-3 title">Scripting Languages</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-angular"></i>Angular</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-square-js"></i>Javascript</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-react"></i>React</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">JQuery</span></li>
    </ul>

    <div class="subheading mb-3 title">UI Design</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-html5"></i>HTML 5</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-css3"></i>CSS 3</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-bootstrap"></i>Bootstrap</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-angular"></i>Angular Material</span></li>
    </ul>
    <div class="subheading mb-3 title">Database</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">SQL Server</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">PostgreSQL</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Mongo DB</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Snowflake</span></li>
    </ul>
    <div class="subheading mb-3 title">Development Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Visual Studio 2015/2022</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">VS Code</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Postman</span></li>
    </ul>
    <div class="subheading mb-3 title">Workflow</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Scrum/Agile</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Pair Development</span></li>
    </ul>
    <div class="subheading mb-3 title">Versioning Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Team Foundation Server(TFS)</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary"><i class="fa-brands fa-github"></i>GIT</span></li>
      <li class="list-inline-item"><span class="badge rounded-pill bg-primary">Azure Devops</span></li>
    </ul>
  </div>
</section>
