<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <div class="text-center textheader">
      <h1 class="mb-3 text-primary">PROFESSIONAL SKILLS</h1>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0 text-primary">.Net Back End Developer, Advancio</h3>
        <div class="subheading mb-3">ITS project</div>
        <p>
          Working on maintenance for internal project related with save new
          items for the company, and create schedule maintenance work orders,
          working on new requirements and fix bugs requested by the client. It
          is an Angular and .Net Core stack project.
        </p>

        <div class="subheading mb-3">Responsabilities:</div>
        <ul>
          <li>Read and evaluated the incidents requested on Azure DevOps.</li>
          <li>Implement the best solution for the new requirements.</li>
          <li>
            Attend meetings with the Client on daily and Scrum ceremonies.
          </li>
          <li>
            Developed applications using a microservices architecture. Resulting
            in improved scalability, maintainability and development efficiency.
          </li>
          <li>Maintenance the microservices architecture using .Net.</li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">October 2022 - Present</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0 text-primary">
          Software Developer, Intelekto en Tecnologías de la Información
        </h3>
        <div class="subheading mb-3">Marriott Vacations WorldWide project</div>
        <p>
          Worked here on maintaining Marriott Vacations WorldWide's internal
          projects. Worked on new requirements or bugs that end users reported.
          The project is based on make reservations into the resort of the
          company.
        </p>

        <div class="subheading mb-3">Responsabilities:</div>
        <ul>
          <li>Read and evaluated the incidents requested on Cherwell.</li>
          <li>
            Investigated the impact that the new requirements would have on the
            existing application.
          </li>
          <li>Wrote new requirements on Azure DevOps.</li>
          <li>
            Wrote new requirements for the bugs found in the applications.
          </li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">February 2022 - October 2022</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0 text-primary">
          Software Developer, Headways Digital Strategy, SA de CV
        </h3>
        <div class="subheading mb-3">Good Eggs project</div>
        <p>Work migrating unit tests from mocha to jest.</p>

        <div class="subheading mb-3">Responsabilities:</div>
        <ul>
          <li>
            Read and evaluated new requirements to develop the best solution
            using Agile practices.
          </li>
          <li>Migrate the unit test from Mocha to Jest.</li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">August 2021 - February 2021</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0 text-primary">
          Software Developer, Intelekto en Tecnologías de la Información
        </h3>
        <div class="subheading mb-3">Skyworks US project</div>
        <p>
          Worked here on maintaining Skyworks Irvine's internal projects. Worked
          on new requirements or bugs that end users reported. All projects were
          based on the inventory systems, to have control of the parts that they
          work with and to have control of systems that all their contractors
          can access.
        </p>
        <div class="subheading mb-3">Responsabilities:</div>
        <ul>
          <li>
            Read and evaluated new requirements to develop the best solution
            using Agile practices.
          </li>
          <li>
            Read and evaluated the requirements to develop the best solution
            using Agile practices and .NET MVC.
          </li>
          <li>
            Investigated the impact that the new requirements would have on the
            existing application. • Wrote new requirements on TFS.
          </li>
          <li>
            Wrote new requirements for the bugs found in the applications.
          </li>
          <li>
            Coded efficient tests to do QA on the work done by the team
            collaborators.
          </li>
          <li>
            Created scripts in SQL which are used to create, update or delete
            records of a static data.
          </li>
          <li>
            Modified the Store Procedures, as necessary, to improve the time of
            execution.
          </li>
          <li>
            Refactored duplicate code to make the maintenance of applications
            easier.
          </li>
          <li>Implemented new modules and screens design.</li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">June 2019 - April 2021</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0 text-primary">Software Developer, Betta Global Systems</h3>
        <div class="subheading mb-3">Millenium Aduanas project</div>
        <p>
          Developed application in Windev, to control imports and exports of
          materials or products necessary for companies; as well as comply with
          the relevant customs regulations.
        </p>

        <div class="subheading mb-3">Responsabilities:</div>
        <ul>
          <li>
            Read and evaluated the requirements to develop the best solution
            using Windev.
          </li>
          <li>
            Created scripts for SQL to create, update or delete records of a
            static data.
          </li>
          <li>Implemented screens design.</li>
          <li>Fixed bugs found by the end user.</li>
        </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">June 2017 - June 2018</span>
      </div>
    </div>
  </div>
</section>
